<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luoyi.cn.dao.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.luoyi.cn.dao.model.OrderDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="buy_num" property="buyNum" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, buy_num, price, product_id, order_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_order_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_order_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luoyi.cn.dao.model.OrderDetail" >
    insert into tbl_order_detail (id, buy_num, price, 
      product_id, order_id)
    values (#{id,jdbcType=BIGINT}, #{buyNum,jdbcType=INTEGER}, #{price,jdbcType=REAL}, 
      #{productId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.luoyi.cn.dao.model.OrderDetail" >
    insert into tbl_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="buyNum != null" >
        buy_num,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="buyNum != null" >
        #{buyNum,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luoyi.cn.dao.model.OrderDetail" >
    update tbl_order_detail
    <set >
      <if test="buyNum != null" >
        buy_num = #{buyNum,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luoyi.cn.dao.model.OrderDetail" >
    update tbl_order_detail
    set buy_num = #{buyNum,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      product_id = #{productId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>