<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luoyi.cn.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.luoyi.cn.dao.model.Product" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="freight" property="freight" jdbcType="REAL" />
    <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP" />
    <result column="sell_num" property="sellNum" jdbcType="INTEGER" />
    <result column="stock_num" property="stockNum" jdbcType="INTEGER" />
    <result column="sell_address" property="sellAddress" jdbcType="VARCHAR" />
    <result column="view_num" property="viewNum" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, price, freight, expire_time, sell_num, stock_num, sell_address, view_num, 
    category_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.luoyi.cn.dao.model.Product" >
    insert into tbl_product (id, name, price, 
      freight, expire_time, sell_num, 
      stock_num, sell_address, view_num, 
      category_id)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{freight,jdbcType=REAL}, #{expireTime,jdbcType=TIMESTAMP}, #{sellNum,jdbcType=INTEGER}, 
      #{stockNum,jdbcType=INTEGER}, #{sellAddress,jdbcType=VARCHAR}, #{viewNum,jdbcType=INTEGER}, 
      #{categoryId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.luoyi.cn.dao.model.Product" >
    insert into tbl_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="freight != null" >
        freight,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="sellNum != null" >
        sell_num,
      </if>
      <if test="stockNum != null" >
        stock_num,
      </if>
      <if test="sellAddress != null" >
        sell_address,
      </if>
      <if test="viewNum != null" >
        view_num,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="freight != null" >
        #{freight,jdbcType=REAL},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellNum != null" >
        #{sellNum,jdbcType=INTEGER},
      </if>
      <if test="stockNum != null" >
        #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="sellAddress != null" >
        #{sellAddress,jdbcType=VARCHAR},
      </if>
      <if test="viewNum != null" >
        #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luoyi.cn.dao.model.Product" >
    update tbl_product
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="freight != null" >
        freight = #{freight,jdbcType=REAL},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellNum != null" >
        sell_num = #{sellNum,jdbcType=INTEGER},
      </if>
      <if test="stockNum != null" >
        stock_num = #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="sellAddress != null" >
        sell_address = #{sellAddress,jdbcType=VARCHAR},
      </if>
      <if test="viewNum != null" >
        view_num = #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luoyi.cn.dao.model.Product" >
    update tbl_product
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      freight = #{freight,jdbcType=REAL},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      sell_num = #{sellNum,jdbcType=INTEGER},
      stock_num = #{stockNum,jdbcType=INTEGER},
      sell_address = #{sellAddress,jdbcType=VARCHAR},
      view_num = #{viewNum,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <!--  getTotalCount//获得总记录数 -->
   <select id="getTotalCount" parameterType="int"  resultType="Integer"   >
  <!-- 这里的SQL结尾不能加分号，否则报"ORA-00911错误" -->
  		SELECT count(*) FROM `tbl_product` 
  		  
  </select>
  <!--  getTotalCount//获得二级总记录数 -->
   <select id="get_secondTotalCount" parameterType="int"  resultType="Integer"   >
  <!-- 这里的SQL结尾不能加分号，否则报"ORA-00911错误" -->
  		
  		SELECT  count(*) FROM tbl_product p  INNER JOIN  tbl_category c ON  p.`category_id`=c.`id` 
        WHERE  c.`parent_id`=#{0,jdbcType=BIGINT}
  </select>
 
   <!--  getTotalCount//获得三级总记录数 -->
   <select id="get_ThreeTotalCount" parameterType="int"  resultType="Integer"   >
  <!-- 这里的SQL结尾不能加分号，否则报"ORA-00911错误" -->
  		SELECT count(*) FROM tbl_product p WHERE p.`category_id`=#{0,jdbcType=BIGINT}
  </select>
 
    <!--  List<Product> getProductsList(int currentPage, int pageSize)  -->
   <select id="getProductList" parameterType="hashmap"  resultMap="BaseResultMap"  >
  <!-- 这里的SQL结尾不能加分号，否则报"ORA-00911错误" -->
  		SELECT  
  		<include refid="Base_Column_List" />
  		FROM tbl_product LIMIT #{0,jdbcType=BIGINT},#{1,jdbcType=BIGINT}
  </select>
  	
  	
  
  	
  	
  	<!-- 二级目录商品查询 -->
   <select id="getProduct_second" parameterType="hashmap"  resultMap="BaseResultMap"  >
   
       SELECT   p.*,c.id as cate_id,c.name as cate_name,c.parent_id FROM tbl_product p  INNER JOIN  tbl_category c ON  p.`category_id`=c.`id` 
       WHERE  c.`parent_id` = #{0,jdbcType=BIGINT}
       LIMIT #{1,jdbcType=BIGINT},#{2,jdbcType=BIGINT}
  </select>
 	
  	 <select id="selectByCategoryId" resultType="com.luoyi.cn.dao.model.Product" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_product
    where category_id = #{0,jdbcType=BIGINT}
  </select>
 
 		<!-- 联动查询 -->
  	 <resultMap id="productMap" type="com.luoyi.cn.dao.model.Product" >
	    <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="price" property="price" jdbcType="REAL" />
	    <result column="freight" property="freight" jdbcType="REAL" />
	    <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP" />
	    <result column="sell_num" property="sellNum" jdbcType="INTEGER" />
	    <result column="stock_num" property="stockNum" jdbcType="INTEGER" />
	    <result column="sell_address" property="sellAddress" jdbcType="VARCHAR" />
	    <result column="view_num" property="viewNum" jdbcType="INTEGER" />
	    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
	   <!-- 一个对象-->
	    <association property="category" javaType="com.luoyi.cn.dao.model.Category">
				<id property="id"  column="cate_id" />
				<result property="name" column="cate_name" />
				<result property="parentId" column="parent_id" />
		</association>
		<!-- 对象 集合-->
		 <collection property="images" ofType="com.luoyi.cn.dao.model.Image">
				<id property="id"  column="img_id" />
				<result property="productId" column="product_id" />
				<result property="url" column="url" />
		</collection> 
		
  </resultMap>
  
   	<!-- 联动查询,通过产品id查图片以及产品信息 -->
   <select id="getProductAndImgById" parameterType="hashmap"  resultMap="productMap"  >
   
     SELECT   p.*,i.`id` AS img_id,i.`product_id`,i.`url`,c.`id` AS cate_id,c.`name` AS cate_name,c.`parent_id` 
     FROM   tbl_image i  INNER JOIN tbl_product p INNER JOIN  tbl_category c 
     ON p.`id`=i.`product_id` AND c.`id`=p.`category_id` 
     WHERE p.`id` = #{0,jdbcType=BIGINT}
  </select>
  
  
 <update id="updateProViewById" parameterType="hashmap" >
    update tbl_product
    <set >
      view_num = view_num +1
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <!-- 模糊搜索 -->
  	<!-- 查总条数 -->
  	<select id="get_ByNameCount" parameterType="string" resultType="Integer"   >
  		SELECT COUNT(*) FROM tbl_product p WHERE
  		NAME LIKE  #{0,jdbcType=VARCHAR}
 	</select>
  	<!-- 分页查 -->
    <select id="selectByName" resultMap="BaseResultMap" parameterType="hashmap"  >
    SELECT  
    <include refid="Base_Column_List" />
	FROM tbl_product 
	WHERE NAME LIKE #{0,jdbcType=VARCHAR}
	LIMIT #{1,jdbcType=BIGINT},#{2,jdbcType=BIGINT}
  </select>
  
  
  
  
  
</mapper>